.editbox{
  background-color: #E5E5E5;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.editbox__note-textarea{
  position: absolute;
  top: 40px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.textareabox__textarea {
  height: 100%;
}